@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Varela Round', sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 80%;
  border-bottom: 3px solid #c3b8f1;
}

.navbar h1 {
  color: #6F61C0;
  font-size: 3rem;
  margin: 1.5rem 0;
}

.navbar .links {
  margin-left: auto;
  font-size: 1.2rem;
}
.navbar a:hover {
  color: black;
}

.navbar a {
 margin-left: 2.5rem;
 padding: 3rem;
 color: grey;
 text-decoration: none;
}

.content {
  max-width: 80%;
  margin: 2rem auto;
  padding: 1rem;
}

.blog-preview {
  margin: 2rem 0;
  padding: 10px;
  border-bottom: 3px solid #fafafa;
}

.blog-preview:hover {
 box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.blog-preview h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #A084E8;
}

.blog-body {
  padding-bottom: 2rem;
}

.blog-preview a {
  text-decoration: none;
}