@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Varela Round', sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 80%;
  border-bottom: 3px solid #c3b8f1;
}

.navbar h1 {
  color: #614BC3;
  font-size: 3rem;
  margin: 1.5rem 0;
}

.navbar .links {
  margin-left: auto;
  font-size: 1.2rem;
}
.navbar a:hover {
  color: black;
}

.navbar a {
 margin-left: 2.5rem;
 padding: 3rem;
 color: grey;
 text-decoration: none;
}

.content {
  max-width: 80%;
  margin: 2rem auto;
  padding: 1rem;
}